<%- include("header") -%>

<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam repellat eos non autem, quibusdam esse consequuntur
    amet dolores incidunt ipsa eveniet iure dolorem suscipit facere vel error repudiandae nemo mollitia!</p>

<%- include("footer") -%>